{% load static %}
<html>
    <body style="background-color:gray;">
    <h1 style="text-align: center;color: cornsilk;font-size:x-large;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">CONTATCT US</h1>    
    <form>
        <button type="button" class="Close" data-dismiss="modal" aria-label="Close" >
        <a href="http://127.0.0.1:8000/" class="btn btn-primary" id="test-event" style="padding-right:350%">Home</a><a href="http://127.0.0.1:8000/info" class="btn btn-primary" id="test-event" style="padding-right:350%">ABOUT</a><a href="http://127.0.0.1:8000/add" class="btn btn-primary" id="test-event" style="padding: right 350%">Address</a>
        </button>
    </form> 
    {% csrf_token %}
    <p style="color: cornsilk;font-family:'Times New Roman', Times, serif;font-size: 32pt;">Onwords Pvt. Ltd<br>
        RR Garden,<br>
         Pollachi<br>
        
        onwords.in@gmail.com<br>
        
        9095640275
        
        </p>
        <img src="{% static 'contact.jpg' %}">
        <form>
            <button type="button" class="Close" data-dismiss="modal" aria-label="Close" >
            <a href="http://127.0.0.1:8000/add" class="btn btn-primary" id="test-event" style="padding-right:350%">Next</a><a href="http://127.0.0.1:8000/info" class="btn btn-primary" id="test-event" style="padding-right:350%">Forward</a>
        </form>
</body>
</html>